@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

* {
  font-family: "Manrope", sans-serif;
  color: #fff;
}

body {
  background-color: hsl(211, 86%, 6%) !important;
  overflow-x: hidden;
}

.collapse navbar-collapse {
  margin-inline: 50px;
}

.navbar-brand {
  margin-inline: 160px;
  padding-right: 80px;
}

.navbar li a {
  color: #fff;
  margin-inline: 35px;
  padding-right: 260px;
}

.navbar-brand {
  color: #fff;
  font-weight: 900;
}

.navbar form button {
  color: #fff;
  border: none;
}

.navbar form button:first-child {
  margin-left: 150px;
}

.navbar form button:last-child {
  background-color: #ff4820;
}

.hero_section_special {
  background-color: hsl(211, 86%, 6%) ;
}

.container h1 {
    font-size: 62px;
    font-weight: 800;
    background-image: linear-gradient(to right, #AE67FA, #F49867);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#hero_container_paragraph {
    width: 365px;
    color: #81AFDD;
    font-size: small;
}

.container form input {
    width: 295px;
    height: 50px;
    padding-left: 30px;
    background-color: #052D56;
    color: #81afdd;
    border: none;
}

.container form input:hover {
    background-color: #FF4820;
}

.container form button{
    height: 50px;
    background-color: #FF4820;
    color: #fff;
    border: none;
}

.container span {
    font-weight: 700px;
    width: 4px;
    font-size: 10px;
}

.logo_container {
    margin-top: 100px;
    text-align: center;
}

.container-xl {
    text-align: center;
    margin-bottom: 100px;
}

.GPT_container {
   background-color: #002853;
   margin-inline: 80px;
   width: 87%;
}

.GPT_container_content span {
    font-size: 15px;
    width: 30px;
    color: #81AFDD;
}

.GPT_container_content h2 {
    background-image: linear-gradient(to right, #AE67FA, #F49867);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.GPT_container_content p{
    color: #FF8A71;
    margin-left: 90px;
}

.feature_box {
    margin-left: 250px !important;
}

.feature_content {
    margin-top: 190px !important;
}

.feature_heading {
    background-image: linear-gradient(to right, #AE67FA, #F49867);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.CTA {
    width: 84%;
    margin-inline: 150px;
    margin-top: 100px;
}

.CTA_content {
    background-image: linear-gradient(to right, #AE67FA, #F49867);
    border-radius: 10px;
    padding-block: 40px;
    display: flex;
    justify-content: space-between;
}

.CTA_content_text,.CTA_content_text small,.CTA_content_text h2{
   padding-left: 60px;
   color: #000;
}

.CTA_content_text h2 {
    font-weight: 800px;
    font-size: 20px;
}

.CTA_btn button {
border-radius: 999px;
width: 150px;
background-color: #000;
padding-block: 10px;
border: none;
}

.cards{
    margin-top: 100px;
    width: 85%;
    margin-left: 8%;
}

.cards h2{
    font-size: 57px !important;
    font-weight: 800 !important;
    line-height: 75px;
      background-image: linear-gradient(to right, #AE67FA, #F49867);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 130px;
}

.card1{
    width: 100%px;
    height: 756.16px;
    background-color: #042C54;
}

.card1 small{
    background: none;
    outline: none;
    border: none;
    font-size: 12px;
    color: #FFFFFF;
    padding-left: 40px;
    margin-top: 170px;
}

.card1 p{
    color: #FFFFFF;
    font-size: 12px;
    font-weight: 700;
    margin-top: 50px;
    padding-left: 40px;
}

.card1 h3{
    color: #FFFFFF;
    font-size: 26px;
    font-weight: 800;
    line-height: 32px;
    padding-left: 40px;
}

.card2{
    background-color: #042C54;
    margin-bottom: 48.46px;   
}

.card2 p{
    font-size: 12px;
    color: #FFFFFF;
    font-weight: 700;
    padding-left: 40px;
    margin-top: 20px;
}

.card2 h3 {
    font-size: 20px;
    color: #FFFFFF;
    font-weight: 800;
    line-height: 31px;
    padding-left: 40px;
}

.card2 button {
    background: none;
    outline: none;
    border: none;
    font-size: 12px;
    color: #FFFFFF;
    padding-left: 40px; 
}

.container{
    margin-top: 100px;
}

.container p{
    font-size: 14px;
    font-weight: 400;
    color: #FFFFFF;
    margin-top: 40px;
} 

.container h3 {
    font-size: 16px;
    font-weight: 700;
    color: #FFFFFF;
}

.foottxt{
    text-align: center;
}

.foottxt h2 {
    font-size: 67px;
    font-weight: 800;
    line-height: 75px;
    background-image: linear-gradient(to right, #AE67FA, #F49867);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.foottxt button {
    outline: none;
    background: none;
    width: 220px;
    height: 65px;
    border: 2px solid #FFFFFF;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 400;
    margin-top: 70px;
}

.all{
    text-align: center;
    margin-top: 70px;
}

.all p {
    font-size: 14px;
    color: #FFFFFF;
    font-weight: 400;
}

footer{
    margin-top: 150px;
}






@media  (max-width: 780px) {

 .navbar-brand {
 margin-left: 0px;
 margin-inline: 0px;
 padding-right: 0px;
 }
    
 .navbar-toggler {
    margin-left: 230px;
 }

header form,header .btn-outline-success {
    flex-direction: column;
    width: 90px;
    margin-left: 15px !important;
}

header .btn-outline-success {
    margin-left: 30px;
    flex-direction: column;
    width: 90px;
}

.hero_section_special {
    margin-top: 1px !important;
}

.hero_section_special input {
    width: 100% !important;  
    margin-bottom: 9px !important;
}

.hero_section_special button {
    width: 100% !important;
}

.hero_section_special input::placeholder{
    text-align: center;
}

.GPT_container {
    margin-left: 13px;
    width: 93%;
 }

.GPT_container_content p{
    margin-left: 0px;
}

.GPT_container_content h2 {
width: 100%;
}

.section-4  {
    padding: 0% !important;
}  


.feature_box { 
    margin-top: 1px;
    margin: 1px !important;
    padding: 0% !important;
} 

.feature_content {
    margin-top: 1px !important;
}

.feature_img { 
    width: 100%;
} 

.CTA {
    margin-left: 28px;
    width: 86%;
}

.CTA_content {
    flex-direction: column;
}

.CTA_content_text h2 {
    font-weight: 590px;
    font-size: 25px;
}
 
.CTA_content_text {
    padding-left: 1px;
} 

.CTA_content_text small,.CTA_content_text h2{
    padding-left: 1px;
 }

 .CTA_btn button {
    width: 300px;
    padding-block: 10px;
    /* align-items: center; */
    /* text-align: center; */
    margin-left: 10px;
 }

.cards{
    width: 92%;
    margin-left: 4%;
}

.cards h2{
    font-size: calc(1.375rem + 1.5vw) !important;
    font-weight: 500;
    line-height: 55px;   
    margin-bottom: 60px;
}

.card1{
    height: 556.16px;
}

.card2{
    margin-bottom: 0px; 
    height: 360px;
    margin-top: 40px;  
}


footer{
    margin-top: 50px;
   
}

.container {
    padding: 0% !important;
}

.foottxt h2 {
    font-size: calc(1.375rem + 1.5vw) !important;
    font-weight: 800;
    line-height: 50px;
   text-align: left;
   margin-left: 1px;
}


.foottxt button {
    width: 90%;
    height: 65px;
    font-weight: 400;
    margin-top: 50px;
}





}
